:root {
  --primary: #198754 !important;
  /* --primary: #000000; */
}
body {
  font-family: "Roboto", sans-serif;
}
.login {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: scroll;
  .login-box {
    position: absolute;
    top: 10%;
    left: 50%;
    -ms-transform: translateY(-20%);
    transform: translateY(-10%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
.login-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-heading {
  h1 {
    font-size: 1.5em;
    font-weight: 500;
    color: var(--primary);
  }
}
.box {
  background-color: var(--primary);
}
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}
.btn-box {
  background-color: var(--primary) !important;
  color: #fff !important;
  width: 200px !important;
}
.forget-info {
  color: var(--primary);
}
.btn-box:hover {
  background-color: #fff;
  color: #000000;
  border: 1px solid var(--primary);
}
.checkbox {
  --background: #fff;
  --border: #d1d6ee;
  --border-hover: #bbc1e1;
  --border-active: var(--primary);
  --tick: var(--primary);
  position: relative;
  input,
  svg {
    width: 21px;
    height: 21px;
    display: block;
  }
  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    outline: none;
    background: var(--background);
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border-radius: 4px;
    transition: box-shadow 0.3s;
    box-shadow: inset 0 0 0 var(--s, 1px) var(--b, var(--border));
  }
  input:hover {
    --s: 2px;
    --b: var(--border-hover);
  }
  input:checked {
    --b: var(--border-active);
  }
  svg {
    pointer-events: none;
    fill: none;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--stroke, var(--border-active));
    position: absolute;
    top: 0;
    left: 0;
    width: 21px;
    height: 21px;
    transform: scale(var(--scale, 1)) translateZ(0);
  }
}

.che-label {
  font-size: 0.9em;
  font-weight: 500;
  color: var(--primary);
}
.create-account {
  a {
    text-decoration: none;
    color: var(--primary);
    font-size: 0.9em;
    font-weight: 500;
  }
}
.forget-pass {
  p {
    position: relative;
  }
  p:after {
    content: "";
    width: 100%;
    height: 2%;
    position: absolute;
    bottom: -30%;
    left: 0%;
    transform: scaleX(1.5);
    background-color: var(--primary);
  }
}

.checkbox.path {
  input:checked {
    --s: 2px;
    transition-delay: 0.4s;
  }
  input:checked + svg {
    --a: 16.1 86.12;
    --o: 102.22;
  }
  svg {
    stroke-dasharray: var(--a, 86.12);
    stroke-dashoffset: var(--o, 86.12);
    transition: stroke-dasharray 0.6s, stroke-dashoffset 0.6s;
  }
}

.checkbox.bounce {
  --stroke: var(--tick);
  input:checked {
    --s: 11px;
  }
  input:checked + svg {
    -webkit-animation: bounce 0.4s linear forwards 0.2s;
    animation: bounce 0.4s linear forwards 0.2s;
  }
  svg {
    --scale: 0;
  }
}

@-webkit-keyframes bounce {
  50% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bounce {
  50% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid var(--primary);
  outline: 0;
  font-size: 1em;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  font-weight: 400;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1em;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1em;
  color: var(--primary);
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 400;
  border-width: 3px;
  /* border-image: linear-gradient(to right, #11998e, #38ef7d); */
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  /* color: #11998e; */
  font-weight: 400;
}

/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}
.login {
  /* border: 2px solid var(--primary); */
  border-radius: 35px;
  .left {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    -webkit-box-shadow: 10px 0px 18px -1px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 10px 0px 18px -1px rgba(0, 0, 0, 0.31);
    box-shadow: 10px 0px 18px -1px rgba(0, 0, 0, 0.31);
  }
  .right {
    margin-top: 6em;
  }
}

.welcome-box {
  position: relative;
  border: 2px solid #198754;
  border-radius: 35px;
}
.welcome-box::after {
  position: absolute;
  content: "Welcome";
  width: 250px;
  height: 55px;
  background-color: var(--primary);
  color: #fff;
  top: 10px;
  left: 57%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 400;
  border-radius: 35px;
  transform: translateX(-57%);
  z-index: 1;
}
.condition {
  p {
    font-size: 1em;
    color: var(--primary);
    line-height: 1.4em;
  }
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 100% !important;
    margin: 1.75rem auto;
  }
}
