:root {
  --primaryColor: #000000;
  --secondaryColor: #198754;
  --tertiaryColor: #3e926b;
  --blackWhite: #ffffff;
  --textcolor: #000000;
  --heading: #198754;
  --footerbg: #000000;
}
$shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.8);
body {
  font-family: "Roboto", sans-serif !important;
  background-color: var(--blackWhite);
}
html {
  scroll-behavior: smooth;
}
.Header.navbar-toggler {
  border-color: rgb(32, 29, 29) !important;
}

.Header .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
  border: 1;
}
.btn-round {
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 35px !important;
  width: 120px;
  height: 40px;
}
.navbar-nav li a,
.nav-btn {
  font-size: 0.9em !important;
  color: rgba(255, 255, 255, 0.9) !important;
}
.Header {
  background-color: var(--secondaryColor) !important;
  box-shadow: $shadow;
}

.nav-item:hover a {
  color: var(--tertiaryColor) !important;
}

.Header nav .navbar-nav li:hover a {
  color: var(--secondaryColor) !important;
}
.login-btn {
  outline: 0 !important;
  border: 0 !important;
}
.login-btn:hover {
  color: var(--primaryColor) !important;
}
.register-btn {
  background-color: var(--secondaryColor) !important;
  color: #ffffff;
  border: 1px solid #ffffff !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.register-btn:hover {
  color: var(--secondaryColor) !important;
  border: 1px solid var(--secondaryColor);
  background-color: #ffffff !important;
}


.notif{
  width: 400px;
  height: auto;
  background-color: grey;
  position: absolute;
  right:  70%;
  top: 60%;
  padding: 1em;
  border-radius: 8px;
}