$shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);

.ridermainheading {
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18%;
  padding: 0.5em;
  background-color: #198754;
  box-shadow: $shadow;
  h1 {
    color: #ffffff;
    font-size: 2em;
  }
}
.riderformbox {
  background-color: #198754;
  box-shadow: $shadow;
  border-radius: 30px;
  width: 35%;
  position: relative;
  .ridertopcircle {
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translate(-50%, 10%);
    background-color: white;
    border: 2px solid #198754;
    box-shadow: $shadow;
    padding: 10%;
  }
}
