$shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.8);

.ridermainheading {
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18%;
  padding: 0.5em;
  background-color: #198754;
  box-shadow: $shadow;
  h1 {
    color: #ffffff;
    font-size: 2em;
  }
}
.riderformbox {
  background-color: #198754;
  box-shadow: $shadow;
  border-radius: 30px;
  width: 35%;
  position: relative;
  .ridertopcircle {
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translate(-50%, 10%);
    background-color: white;
    border: 2px solid #198754;
    box-shadow: $shadow;
    padding: 10%;
  }
}
